<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style>
        body {
          background-image: url("");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
        h1 {
            font-size:60px;
                }
        </style>
</head>
<body>
        <h1><center>ONLINE AGRICULTURAL PRODUCT SALE</center></h1>
    <form align="center">
        <a href="file:///C:/Users/NANI/Documents/html/web/loginpage.html">
        <input type="button" value="login"></a>
        <a href="file:///C:/Users/NANI/Documents/html/web/signuppage.html">
        <input type="button" value="signup"><br></a>
    </form>
</body>
</html>